# top-most EditorConfig file
root = true

# General settings
[*]
charset = utf-8
indent_style = space
indent_size = 2
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

# JavaScript files
[*.js]
max_line_length = 80
quote_type = single
semi = false

# JSON files
[*.json]
indent_size = 2

# Markdown files
[*.md]
trim_trailing_whitespace = false